<script>Spinner = {
  create : function() {
    var spinner = document.createElement('div');
    spinner.className = 'spinner-bringIn';
    spinner.style.position = 'absolute';
    spinner.style.left = (window.innerWidth-50)/2 + 'px';
    spinner.style.top = (window.innerHeight-50)/2 + 'px';
    var canvas = document.createElement('canvas');
    canvas.className = 'spinner';
    canvas.width = canvas.height = 50;
    var ctx = canvas.getContext('2d');
    ctx.lineWidth = 4;
    var third = Math.PI*2 / 3;
    for (var i=0; i<3; i++) {
      ctx.beginPath();
      ctx.arc(25, 25, 20, i*third, i*third+Math.PI/2, false);
      ctx.stroke();
    }
    spinner.appendChild(canvas);
    return spinner;
  },

  removeSelf : function() {
    return function() { this.parentNode.removeChild(this); }
  },

  remove : function(spinner) {
    spinner.addEventListener('webkitAnimationEnd', this.removeSelf, false);
    spinner.addEventListener('animationend', this.removeSelf, false);
    spinner.className = 'spinner-bringOut';
  }
};
</script>
<section class="photoslide">

  <article>

    <div class="menuImage">
      <a href="tfactivities.com" target="_blank"><img class="scrapbook" src="assets/tfactivities.jpg" width="460" height="259"></a>
    </div>

    <h1>Time For Activities</h1>
    <p>
      Time For Activities is a search engine to help you find activities and things to do no matter your location, time frame, budget, or desired activity.
    </p>

  </article>
  <article>

    <div class="menuImage">
        <a href="rakedbevents.herokuapp.com" target="_blank"><img class="scrapbook" src="assets/rakedbevent.jpg" width="460" height="259"></a>
      </div>

    <h1>rake db:events</h1>
    <p>
      Time For Activities is a search engine to help you find activities and things to do no matter your location, time frame, budget, or desired activity.
    </p>

  </article>
  <article>

    <div class="menuImage">
      <a href="flashquiz.herokuapp.com" target="_blank"><img class="scrapbook" src="assets/flashquiz.jpg" width="460" height="259"></a>
    </div>

    <h1>Flash Quiz</h1>
    <p>
      Time For Activities is a search engine to help you find activities and things to do no matter your location, time frame, budget, or desired activity.
    </p>

  </article>




</section>

<%= link_to "Back", root_path %>
<script type="text/javascript">
(function() {
  var CurrentImage = null;

  var removeSelf = function() { this.parentNode.removeChild(this); };

  var createNewLightbox = function(x, y, src, className) {
    var newImg = new Image();
    var dw = Math.min(document.body.offsetWidth, window.innerWidth);
    var dh = Math.min(document.body.offsetHeight, window.innerHeight);
    var f = Math.min(1, (dw - 20) / 1200, (dh - 20) / 675);
    var w = 1200*f;
    var h = 675*f;
    newImg.width = w;
    newImg.height = h;
    newImg.className = className;
    newImgDiv = document.createElement('div');
    newImgDiv.className = 'kenburns';
    newImgDiv.style.width = w + 'px';
    newImgDiv.style.height = h + 'px';
    // newImgDiv.style.left = dw/2 - w/2 + 'px';
    // newImgDiv.style.top = dh/2 - h/2 + 'px';
    newImgDiv.appendChild(newImg);
    var spinner = Spinner.create();
    newImg.addEventListener('load', function() {
      newImgDiv.style.left = (dw - w) / 2 + 'px';
      newImgDiv.style.top = (dh - h) / 2 + 'px';
      newImgDiv.setAttribute('zoomin', 'true');
      newImg.setAttribute('zoomin', 'true');
      Spinner.remove(spinner);
    }, false);

    newImg.src = src;

    var newLightbox = document.createElement('div');
    newLightbox.className = 'lightbox';
    spinner.style.left = (dw-50)/2 + 'px';
    spinner.style.top = (dh-50)/2 + 'px';
    newLightbox.appendChild(spinner);
    newLightbox.appendChild(newImgDiv);
    return newLightbox;
  };

  var lightboxLink = function(a, src, className) {
    a.addEventListener('click', function(ev) {
      if (ev.button == 0 && !ev.ctrlKey && !ev.altKey && !ev.shiftKey) {
        if (CurrentImage) {
          CurrentImage.parentNode.removeChild(CurrentImage);
          CurrentImage = null;
        }
        ev.preventDefault();
        ev.stopPropagation();
        var lightbox = createNewLightbox(ev.clientX, ev.clientY, src, className);
        setTimeout(function() { lightbox.style.opacity = 1; }, 0);
        document.body.appendChild(lightbox);
        CurrentImage = lightbox;
      }
    }, false);
  };

  window.addEventListener('click', function(ev) {
    if (CurrentImage && ev.button == 0 && !ev.ctrlKey && !ev.altKey && !ev.shiftKey) {
      CurrentImage.style.opacity = 0;
      CurrentImage.addEventListener('webkitTransitionEnd', removeSelf, false);
      CurrentImage.addEventListener('transitionend', removeSelf, false);
      CurrentImage.addEventListener('OTransitionEnd', removeSelf, false);
      CurrentImage = null;
    }
  }, false);

  var divs = document.getElementsByClassName('menuImage');
  for (var i=0; i<divs.length; i++) {
    var div = divs[i];
    var links = div.getElementsByTagName('a');
    for (var j=0; j<links.length; j++) {
      var a = links[j];
      var img = a.getElementsByTagName('img')[0];
      var src = img.src.replace(/640\-/, '');
      lightboxLink(a, src, img.className);
    }
  }
})();
</script>
