<div id="portfolio">

  <h1>Few of my realisations</h1>

  <div class="photoslide">

    <div>

      <div class="menuImage">
        <a href="http://tfactivities.com" target="_blank" class="preload"><img class="scrapbook" src="assets/tfactivities.jpg" width="460" height="259"></a>
      </div>

      <h2>Time For Activities</h2>
      <p>
        Time For Activities is a search engine to help you find activities and things to do no matter your location, time frame, budget, or desired activity. Realized as final project of Dev Bootcamp.
      </p>

    </div>
    <div>

      <div class="menuImage">
        <a href="http://rakedbevents.herokuapp.com" target="_blank" class="preload"><img class="scrapbook" src="assets/rakedbevent.jpg" width="460" height="259"></a>
      </div>

      <h2>rake db:events</h2>
      <p>
        Events tool created while learning Ruby On Rails at Dev Bootcamp. The user can create an event, attend an event. The database of events is filled with SFGate.com events in Tech.
      </p>

    </div>
    <div>

      <div class="menuImage">
        <a href="http://surveyjungle.herokuapp.com" target="_blank" class="preload"><img class="scrapbook" src="assets/surveyjungle.jpg" width="460" height="259"></a>
      </div>

      <h2>Survey Jungle</h2>
      <p>
        Web App to create Surveys, public or private, that you can share easily. Sinatra based.
      </p>

    </div>
    <div>

      <div class="menuImage">
        <a href="http://flashquiz.herokuapp.com" target="_blank" class="preload"><img class="scrapbook" src="assets/flashquiz.jpg" width="460" height="259"></a>
      </div>

      <h2>Flash Quiz</h2>
      <p>
        Check your knowledges by playing with this quizz game. -feel free to submit new questions/decks of question, the author will integrate them to the existing ones! Sinatra based.
      </p>

    </div>
    <div>

      <div class="menuImage">
        <a href="http://devbootnews.herokuapp.com" target="_blank" class="preload"><img class="scrapbook" src="assets/devbootnews.jpg" width="460" height="259"></a>
      </div>

      <h2>Dev Boot News</h2>
      <p>
        News dashboard created while practicing Sinatra at DevBootCamp.
      </p>

    </div>
    <div>

      <div class="menuImage">
        <a href="http://friendsrun.herokuapp.com" target="_blank" class="preload"><img class="scrapbook" src="assets/friendsrun.jpg" width="460" height="259"></a>
      </div>

      <h2>Friends Run</h2>
      <p>
        Play with your friends to see who is faster. from 2 to 10 players, grab a key, get ready, go!
      </p>

    </div>
    <div>

      <div class="menuImage">
        <a href="http://anagramsfinder.herokuapp.com" target="_blank" class="preload"><img class="scrapbook" src="assets/anagrams.jpg" width="460" height="259"></a>
      </div>

      <h2>Anagrams Finder</h2>
      <p>
        Sinatra app create to search anagrams in the English dictionary.
      </p>

    </div>

  </div>

  <%= link_to "Back", root_path %>
</div>
