<div id="portfolio">

  <h1>Unfortunately I can't really display the things I'm working on nowadays. Mail me.</h1>

  <div id="apple">
    <img src=<%= asset_path('apple_small.png') %> >
  </div>

  <%= link_to "Back", root_path %>
</div>
