<div id="portfolio">

  <h1>I can't really display any of my recent stuff nowadays. Mail me.</h1>

  <div id="apple">
    <img src=<%= asset_path('apple_small.png') %> >
  </div>

  <%= link_to "Back", root_path %>
</div>
