
<div class="main">
  <div class="welcome">
      <div class="first">
        <%= link_to "mailto:hello@thomasstephn.com?Subject=Hi" do %>
          <h2>hello</h2>
        <% end %>
        <div class="bracket">
          <span>
              <%= link_to "mailto:hello@thomasstephn.com?Subject=Hi" do %>
              <h6>What's up?</h6>
            <% end %>
          </span>
        </div>
      </div>
      <div class="middle">
        <div class="bracket">
          <span>
            <a href="https://twitter.com/thomasstephn" target="_blank">
              <h6>Twitter</h6>
            </a>
          </span>
        </div>
        <%= link_to "mailto:hello@thomasstephn.com?Subject=Hi" do %>

        <h2>@thomasstephn</h2>
        <% end %>
      </div>
      <div class="last">
        <%= link_to "mailto:hello@thomasstephn.com?Subject=Hi" do %>
        <h2>.com</h2>
        <% end %>
        <div class="bracket">
          <span>
            <h6>That's where you are now</h6>
          </span>
        </div>
      </div>
    </div>
</div>