
<div class="main">
  <div class="welcome">
      <div class="first">
        <h2>hello</h2>
        <div class="bracket">
          <span>
            <a href="mailto:hello@thomasstephn.com?Subject=Hi">
              <h6>What's up?</h6>
            </a>
          </span>
        </div>
      </div>
      <div class="middle">
        <div class="bracket">
          <span>
            <a href="https://twitter.com/thomasstephn" target="_blank">
              <h6>Twitter</h6>
            </a>
          </span>
        </div>
        <h2>@thomasstephn</h2>
      </div>
      <div class="last">
        <h2>.com</h2>
        <div class="bracket">
          <span>
            <h6>That's where you are now</h6>
          </span>
        </div>
      </div>
    </div>
</div>