// buttons
@import '_variables.scss';

.published-status {
  display:inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 24px;
  p {
    float: left;
    margin: 12px;
    width: 144px;
    height: 48px;
    position: relative;
    input { 
      display: none; 
    }
    span {
      display: block;
      text-align: center;
      line-height: 48px;
    }
  }
}
.published-status p.selected .radio-select { 
  @include border-top-right-rad ;
  @include border-top-left-rad ;
  @include border-bottom-right-rad ;
  @include border-bottom-left-rad ;
  border: 1px dotted $base-color;
}

.radio-select {
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 48px;
  text-indent: -9999px;
  &:hover {
    @include border-top-right-rad ;
    @include border-top-left-rad ;
    @include border-bottom-right-rad ;
    @include border-bottom-left-rad ;
    border: 1px dotted $base-color;    
  }
}

a.radio-deselect {
  display: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 120px;
  right: 10px;
  &:hover {
    @include border-top-right-rad ;
    @include border-top-left-rad ;
    @include border-bottom-right-rad ;
    @include border-bottom-left-rad ;
    border: 1px dotted $base-color;    
  }
}
.published-status p.selected a.radio-deselect { 
  display: block; 
}

div.button {
  display:inline;
  float: left;
  margin: 12px;
  width: 144px;
  height: 48px;
  position: relative;
  border: 1px dotted transparent;    
  input {
    line-height: 48px;
  }
  button {
    line-height: 48px;
  }
  &:hover {
    @include border-top-right-rad ;
    @include border-top-left-rad ;
    @include border-bottom-right-rad ;
    @include border-bottom-left-rad ;
    border: 1px dotted $base-color;    
  }
}