
@import '_variables.scss';

* {
  font-family: 'Lato Light', Helvetica, Arial, sans-serif;
  color: $base-color;
  font-size:16px;
  text-decoration:none;
  text-align:center;
  font-style:normal;
  font-weight:300;
  line-height:125%;
  margin:0;
  padding:0;
  outline:0;
  border: 0;
  background: none;
  border:none;
}
body {
  background: $background repeat top left;
  z-index: -100;
  min-height: 100%;
  top: 0;
  bottom: 0;
}

h1 {
  font-size: 72px;
}

h2,
h2 a {
  font-size: 48px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 18px;
}

.slide {
  position: absolute;
  top: 96px;
  left: 238px;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -284px;
  margin-top: -50px;
  .welcome {
    display: inline-block;
    span {
      text-align: center;
    }
    .bracket {
      position:absolute;
      border-left: 1px solid $base-color;
      border-right: 1px solid $base-color;
    }

    .first {
      display: inline-block;
      text-align: center;
      .bracket {
        width: 103px;
        height: 18px;
        border-bottom: 1px solid $base-color;
        @include border-bottom-right-rad;
        @include border-bottom-left-rad;
      }
      span h6 {
        position:relative;
        bottom : -36px;
      }
    }
    .middle {
      display: inline-block;
      text-align: center;
      .bracket {
        width: 343px;
        height: 18px;
        top: -20px;
        border-top: 1px solid $base-color;
        @include border-top-right-rad;
        @include border-top-left-rad;
      }
      span h6 {
        position:relative;
        top : -36px;
      }
    }
    .last {
      display: inline-block;
      text-align: left;
      .bracket {
        width: 415px;
        height: 18px;
        border-bottom: 1px solid $base-color;
        @include border-bottom-right-rad;
        @include border-bottom-left-rad;
        right: 0px;
        p {
          display: none;
          a {
            font-size: 18px;
            line-height: 58px;
          }
        }
      }
      span h6 {
        overflow: visible;
        position:relative;
        bottom : -36px;
      }
    }
  }
}

body {
  margin: 0px;
}
h1 {
  margin: 0px;
  padding: 20px;
  padding-top: 32px;
  padding-left: 17px;
  font-size: 60px;
  margin-bottom: 0px;
}

#portfolio {
  padding: 24px;
  h1 {
    padding-top: 0;
    font-size: 20px;
  }
  a {
    border-bottom: 1px dotted $base-color;
  }
}

div.photoslide {
  overflow: hidden;
  margin-left: 16px;
}

.photoslide div {
  width: 440px;
  padding-bottom: 69px;
  display: inline-block;
  vertical-align: top;
  h2 {
    font-size: 24px;
    padding-top: 1em;
  }
  p {
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.kenburns {
  position: absolute;
  width: 1200px;
  height: 675px;
  overflow: hidden;
  @include transition_duration_05;
  @include transition_timing_function_ease_out;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  @include transform_scale_0;
  @include transform_origin_50_50;
  @include transition_delay_05;
  img {
    position: absolute;
    border: 0px;
    display: block;
    top: 0px;
    left: 0px;
    @include transition_delay_1;
    @include transition_timing_function_ease_in_out;
    @include transition_duration_10;
    @include transform_scale_1;
    @include transform_origin_50_50;
    &[zoomin=true] {
      @include transform_scale_12;

    }
  }
}
div.kenburns[zoomin=true] {
  @include transform_scale_1;
}

.lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  opacity: 0;
  @include transition_duration_05;
  @include transition_timing_function_ease_in_out;
  @include transform_translate_z;
}

div.menuImage {
  padding-bottom: 0px;
}

.menuImage {
  position: relative;
  overflow: hidden;
  width: 460px;
  @include transition_duration_05;
  @include transition_timing_function_ease_in_out;
  height: 190px;
  @include transform_translate_z;
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.5);
  &:hover {
    height: 259px;
  }
  img {
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    border: 0px;
    display: block;
    top: 0px;
    @include transition_duration_05;
    @include transition_timing_function_ease_in_out;
    @include transform_scale_12_rot_9;
    @include transform_origin_50_50;
    &:hover {
      margin-top: 0;
      @include transform_scale_1;
    }
  }
}

.menuImage .scrapbook:hover, .kenburns .scrapbook {
  @include transform_origin_0_25;
}
.menuImage .brits:hover, .kenburns .brits {
  @include transform_origin_80_15;
}
.menuImage .sonne {
  @include transform_scale_12_rot_9;
}
.menuImage .sonne:hover, .kenburns .sonne {
  @include transform_origin_50_70;
}
.menuImage .sonne:hover {
  @include transform_scale_16;
}

#apple {
  margin-bottom: 20px;
}
