
@import '_variables.scss';

// Posts pages design

.container {
  position: absolute;
  float:left;
  min-height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.button-posts {
  display:inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 24px;
  left: 62px;  
}

.posts {
  min-height: 100%;
  width: 228px;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 36px;
  .post-magic{
    display: none;
    ul {
      list-style-type: none;
      li{
        text-align: left;
        a.published {
          color: #007207;
        }
        a {
          color: #979797;
        }
      }
    }
  }
}

.id {
  display: none;
}

#menu{
  position: absolute;
  top: 24px;
  right: 24px;
}

.new-post {
  min-height: 100%;
  float: left;
  width: 70%;
  padding: 36px;
  bottom: 0;
  .title {
    font-size: 24px;
    width: 60%;
    display: block;
    text-align: left;
    padding-bottom: 24px;
    border-bottom: 1px solid $base-color;
  }
  textarea[type="text"] {
    display: block;
    text-align: left;
    min-height: 400px;
    bottom: 0;
    width: 60%;
    padding-top: 24px;
    border-top: 1px solid #fff;
  }
}

.logout {
  display:inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 24px;
  left: 25%;  
}

.errors {
  float: left;
  width: 70%;
  ul {
    li {
      list-style: none;
      color: red;
    }
    padding :12px;
    margin: 12px;
  }
}